{% import "layouts/macros.njk" as parts %}

{% macro articlePreview(post) %}
  <article class="preview {{ 'isDraft' if post.isDraft else '' }}" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <h2 id="{{post.slug}}" is="more-h2" show-link-on-mouseover>
        <a href="{{post.url}}" itemprop="url">
        <span itemprop="name headline">{{post.headlineAsHtml | safe }}</span></a>
        {{' 📺' if post.hasVideo else ''}}
        {{' [this is a draft]' if post.isDraft else ''}}
      </h2>
      <div class="metadata">
        {{post.dateCreated | toReadableDate}}
        {{ parts.taggedWith(post.tags) }}
      </div>
    </header>
    <div class="content">
      <p class="abstract">{{post.abstractAsHtml | safe }}</p>
    </div>
  </article>
{% endmacro %}
