{% extends "_focus.html" %}

{% block pagename %}blog{% endblock %}
{% block canonicalUrl %}https://picostitch.com/blog{% endblock %}
{% block pageTitlePrefix %}Blog{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/blog/blog.css" type="text/css">
{% endblock %}

{% import "layouts/macros.njk" as parts %}
{% import "layouts/blog/_macros.njk" as blogParts %}

{% block mainStart %}
  <aside class="left">
    {{ parts.tagsNav(groupedArticles.byTag.slice(0, 20), groupedArticles.byTagSortedAlphabetically) }}
    {{ parts.monthsNav(groupedArticles.byMonth) }}
  </aside>
{% endblock %}

{% block content %}
  <article class="latest">
    <header>
      <h1 id="{{posts[0].slug}}" is="more-h1" show-link-on-mouseover>
        <a href="{{posts[0].url}}">{{ posts[0].headlineAsHtml | safe }}</a>{{ ' 📺' if posts[0].hasVideo else '' }}
      </h1>
      <div class="metadata">
        {{ posts[0].dateCreated | toReadableDate }}
        {{ parts.taggedWith(posts[0].tags) }}
      </div>
    </header>
    <p class="abstract">
      {{ posts[0].abstractAsHtml | safe }}
    </p>
    <a href="{{posts[0].url}}">Continue reading →</a>
  </article>

  {% for post in posts.slice(1) %}
    {{ blogParts.articlePreview(post) }}
  {% endfor %}
{% endblock %}
