{% extends "_focus.html" %}

{% block pagename %}month{% endblock %}
{% block canonicalUrl %}https://picostitch.com/blog/{{yearAndMonth.split('-').join('/')}}/{% endblock %}
{% block pageTitlePrefix %}{{ yearAndMonth | toReadableDate }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/blog/blog.css" type="text/css">
{% endblock %}

{% import "layouts/macros.njk" as parts %}
{% import "layouts/blog/_macros.njk" as blogParts %}

{% block mainStart %}
  <aside class="left">
    {{ parts.tagsNav(groupedArticles.byTag.slice(0, 20), groupedArticles.byTagSortedAlphabetically) }}
    {{ parts.monthsNav(groupedArticles.byMonth) }}
  </aside>
{% endblock %}

{% block content %}
  <h1 id="{{yearAndMonth}}" is="more-h1" show-link-on-mouseover>
    {{ yearAndMonth | toReadableDate }}
  </h1>

  {% for post in articles %}
    {{ blogParts.articlePreview(post) }}
  {% endfor %}
{% endblock %}
