{% extends "layouts/focus.njk" %}

{% block pagename %}post{% endblock %}
{% block canonicalUrl %}{{ canonicalUrl if canonicalUrl else 'https://picostitch.com'+url }}{% endblock %}
{% block pageTitlePrefix %}{{ title }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/blog/blog.css" type="text/css">
  <meta property="article:type" content="article" />
  {% for tag in tags %}
    <meta property="article:tag" content="{{ tag }}" />
  {% endfor %}

  <meta property="og:description" content="{{ abstract }}" />
  <meta property="article:description" content="{{ abstract }}" />
  <meta name="twitter:description" content="{{ abstract }}" />

  {% if (post.previewImageUrl) %}
    <meta property="og:image" content="https://picostitch.com{{ post.previewImageUrl }}" />
    <meta property="og:image:url"  content="https://picostitch.com{{ post.previewImageUrl }}" />
    <meta name="twitter:image" content="https://picostitch.com{{ post.previewImageUrl }}" />
  {% endif %}
{% endblock %}

{% block metaTwitterCard %}
  {% if (post.previewImageUrl) %}
    <meta name="twitter:card" content="summary_large_image">
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% import "layouts/macros.njk" as parts %}

{% block content %}
  <article class="{{ 'isDraft' if post.isDraft else '' }}">

    {% if post.previewImage %}
      <img src="{{ post.previewImage }}" style="width: 100%; height: 10rem; object-fit: contain;"/>
    {% endif %}

    <header>
      <h1 id="{{ slug }}" is="more-h1" show-link-on-mouseover>
        {{ title | md | safe }}
        {{ ' [this is a draft]' if post.isDraft else ''}}
      </h1>
      <div class="metadata">
        Wolfram Kriesing - {{ post.dateCreated | toReadableDate }}
        {{ parts.taggedWith(post.tags) }}
      </div>
    </header>

    {% if (canonicalHint) %}
      <p>
        <a href="{{ canonicalUrl }}">{{ canonicalHint }}</a>
      </p>
    {% endif %}

    {{ content | safe }}

    {% if (youtubeId) %}
      <iframe width="427" height="240" name="video" src="//www.youtube.com/embed/{{ youtubeId }}?start={{ videoStartTime }}" frameborder="0" allowfullscreen></iframe>
    {% endif %}
    {% if (vimeoId) %}
      <iframe src="https://player.vimeo.com/video/{{ vimeoId }}" width="427" height="240" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    {% endif %}
  </article>
{% endblock %}

{% block mainEnd %}
  <aside class="right">
    {% if (post.relatedPosts.length > 1) %}
      <related-posts>
        <h3 id="related" is="more-h3" show-link-on-mouseover>Related Posts</h3>
        {% for p in post.relatedPosts %}
          {% if (title === p.title) %}
            <span>{{p.title}}</span><br/>
          {% else %}
            <a href="{{p.url}}">{{p.title}}</a><br/>
          {% endif %}
        {% endfor %}
      </related-posts>
    {% endif %}
  </aside>
{% endblock %}
