{% extends "_focus.html" %}

{% block pagename %}tag{% endblock %}
{% block canonicalUrl %}https://picostitch.com/tag/{{tag}}/{% endblock %}
{% block pageTitlePrefix %}#{{tag}}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/blog/blog.css" type="text/css">
{% endblock %}

{% import "layouts/macros.njk" as parts %}
{% import "layouts/blog/_macros.njk" as blogParts %}

{% block mainStart %}
  <aside class="left">
    {{ parts.tagsNav(groupedArticles.byTag.slice(0, 20), groupedArticles.byTagSortedAlphabetically) }}
    {{ parts.monthsNav(groupedArticles.byMonth) }}
  </aside>
{% endblock %}

{% block content %}
  <h1 id="{{tag}}" is="more-h1" show-link-on-mouseover>
    Tagged with #{{tag}}
  </h1>

  {% for post in articles %}
    {{ blogParts.articlePreview(post) }}
  {% endfor %}
{% endblock %}
