{% extends "_focus.html" %}

{% block pagename %}tidbits{% endblock %}
{% block canonicalUrl %}https://picostitch.com/tidbits/{% endblock %}
{% block pageTitlePrefix %}Tidbits{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/tidbits/tidbits.css" type="text/css">
{% endblock %}

{% import "layouts/macros.njk" as parts %}
{% import "tidbit/_macros.njk" as tidbitParts %}

{% block mainStart %}
  <aside class="left">
    {{ parts.tagsNav(groupedArticles.byTag.slice(0, 20), groupedArticles.byTagSortedAlphabetically) }}
  </aside>
{% endblock %}

{% block content %}
  <h1 style="display: inline" is="more-h1" id="tidbits" show-link-on-mouseover>Tidbits 😋</h1>
  <p style="display: inline;">
    are shorter articles, like notes, about tweet-size, no full blog post.
  </p>
  <p>
    <b>tidbit [noun] /ˈtɪd.bɪt/</b> - a small piece of interesting information.
    <a href="https://dictionary.cambridge.org/dictionary/english/tidbit">from Cambridge Dictionary</a>.
    <br/>
    <b>Synonyms for tidbit</b>:  goody, delicacy, snack, treat, tweet
    <a href="https://www.thesaurus.com/browse/tidbit">partly from thesaurus.com</a>.
  </p>

  {% for tidbit in tidbits %}
    {{ tidbitParts.tidbitPreview(tidbit) }}
  {% endfor %}
{% endblock %}
