{% import "layouts/macros.njk" as parts %}

{% macro tidbitPreview(tidbit) %}
  <article class="preview" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <div class="tag" data-tag="{{tidbit.tags[0].slug}}">#{{tidbit.tags[0].value}}</div>
      <h2 id="{{tidbit.slug}}" is="more-h2" show-link-on-mouseover>
        <a href="{{tidbit.url}}">{{ tidbit.headlineAsHtml | safe }}</a>
      </h2>
      <div class="metadata">
        {{ tidbit.dateCreated | toReadableDate }}
        {{ parts.taggedWith(tidbit.tags.slice(1)) }}
      </div>
    </header>
    <p class="abstract">
      {% if tidbit.previewImage %}
        <img src="{{ tidbit.previewImageUrl }}" style="float: right; width: 10rem; height: 5rem; object-fit: contain; margin-left: 1rem;"/>
      {% endif %}
      {{ tidbit.abstractAsHtml | safe }}
      {% if not tidbit.hasAbstractOnly %}
        <br/>
        <a  href="{{tidbit.url}}">Continue reading →</a>
      {% endif %}
    </p>
  </article>
{% endmacro %}
