{% extends "layouts/_focus.njk" %}

{% block pagename %}tidbit{% endblock %}
{% block canonicalUrl %}https://picostitch.com{{tidbit.url}}{% endblock %}
{% block pageTitlePrefix %}{{tidbit.headline}}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/tidbits/tidbits.css" type="text/css">
  <meta property="article:type" content="article" />
  {% for tag in tidbit.tags %}
    <meta property="article:tag" content="{{tag.value}}" />
  {% endfor %}

  <meta property="og:description" content="{{tidbit.abstract}}" />
  <meta property="article:description" content="{{tidbit.abstract}}" />
  <meta name="twitter:description" content="{{tidbit.abstract}}" />

  {% if (tidbit.previewImageUrl) %}
    <meta property="og:image" content="https://picostitch.com{{tidbit.previewImageUrl}}" />
    <meta property="og:image:url" content="https://picostitch.com{{tidbit.previewImageUrl}}" />
    <meta name="twitter:image" content="https://picostitch.com{{tidbit.previewImageUrl}}" />
  {% endif %}
{% endblock %}

{% block metaTwitterCard %}
  {% if (tidbit.previewImageUrl) %}
    <meta name="twitter:card" content="summary_large_image">
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block content %}
  <article>

    {% if tidbit.previewImage %}
      <img src="{{ tidbit.previewImage }}" style="width: 100%; height: 10rem; object-fit: contain;"/>
    {% endif %}

    <header>
      <div class="tag" data-tag="{{tidbit.tags[0].slug}}">#{{tidbit.tags[0].value}}</div>
      <h1 id="{{tidbit.slug}}" is="more-h1" show-link-on-mouseover>{{ tidbit.headlineAsHtml | safe }}</h1>
      <div class="metadata">
        Wolfram Kriesing - {{ tidbit.dateCreated | toReadableDate }}
        {{ parts.taggedWith(tidbit.tags) }}
      </div>
    </header>

    {{ tidbit.bodyAsHtml | safe }}
  </article>
{% endblock %}