{% extends "_focus.html" %}

{% block pagename %}tag{% endblock %}
{% block canonicalUrl %}https://picostitch.com/tag/{{tag}}/{% endblock %}
{% block pageTitlePrefix %}#{{tag}}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/tidbits/tidbits.css" type="text/css">
{% endblock %}

{% block breadcrumb %}
  <a href="/">Home</a> &raquo;
  <a href="/tidbits">Tidbits</a> &raquo;
  Tag &raquo;
  #{{tag}}
{% endblock %}

{% import "layouts/macros.njk" as parts %}
{% import "tidbit/_macros.njk" as tidbitParts %}

{% block mainStart %}
  <aside class="left">
    {{ parts.tagsNav(groupedArticles.byTag.slice(0, 20), groupedArticles.byTagSortedAlphabetically) }}
  </aside>
{% endblock %}

{% block content %}
  <h1 id="{{tag}}" is="more-h1" show-link-on-mouseover>
    Tidbits tagged with #{{tag}} ({{ articles | length }})
  </h1>

  {% for tidbit in articles %}
    {{ tidbitParts.tidbitPreview(tidbit) }}
  {% endfor %}
{% endblock %}
