@import "../global.css";
@import "../nav.css";

main {
  display: flex;
}
main .content {
  flex: 3;
  max-width: var(--readable-max-width);
  min-width: 60%; /* Make sure this column gets at least a major amount of the available width! */
}
  main aside {
    flex: 1;
    overflow: auto;
  }
    main aside.left {
      max-width: 15rem;
    }
    main aside > * {
      margin-bottom: var(--spacing-bigger);
      margin-right: 4rem;
    }
    main aside .tags:hover {
      height: auto;
    }

    main aside.right {
      flex: 0 auto;
      padding-left: var(--spacing-big);
    }
    related-posts h3 {
      display: block;
    }
    related-posts span, related-posts a {
      margin-bottom: var(--spacing-medium);
      margin-right: 4rem;
      display: inline-block;
      text-indent: calc(-1 * var(--spacing-larger));
      padding-left: var(--spacing-larger); 
    }
    

@media screen and (max-width: 600px) {
  main aside {
    padding: var(--spacing-bigger);
    text-align: center;
  }
    main aside > * {
      margin-right: 0;
    }
  main {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 900px) {
  /* Make the right sidebar disappear earlier, the space just gets tighter the narrower ... */
  aside.right {
    display: none;
  }
}

article.latest {
  margin-bottom: 5rem;
}
