@import "global.css";
@import "nav.css";

.content {
  display: flex;
}
  .content section {
    flex: 1;
    margin-right: var(--spacing-bigger);
  }
@media screen and (max-width: 600px) {
  .content {
    display: block;
  }
    .content section {
      margin-right: 0;
    }
}

article.preview header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}
article.preview header .date,
article.preview header .first-tag {
  white-space: nowrap;
  flex: 0 0 auto;
  width: max-content;
  min-width: 12em;
  text-align: end;
}
article.preview header .first-tag {
  min-width: 7em;
  opacity: 0.5;
  text-align: start;
}
@media screen and (max-width: 600px) {
  article.preview header {
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
  article.preview header .date,
  article.preview header .first-tag {
    text-align: start;
  }
}
article.preview header * {
  overflow: hidden;
  text-overflow: ellipsis;
}

article.hidden {
  display: none;
}

section input[type="checkbox"] {
  display: none;
}
article header label {
  cursor: pointer;
}
