@import "../global.css";
@import "../nav.css";

main {
  display: flex;
}
  main .content {
    flex: 3;
    max-width: var(--readable-max-width);
    min-width: 60%; /* Make sure this column gets at least a major amount of the available width! */
  }
  aside {
    flex: 1;
    overflow: auto;
  }
  aside > * {
    margin-bottom: var(--spacing-bigger);
    margin-right: 4rem;
    white-space: nowrap;
  }

@media screen and (max-width: 900px) {
  aside.right {
    display: none;
  }
}
