<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
  <meta charset="utf-8">
  <title>This site has moved ...</title>
  <link rel="canonical" href="https://picostitch.com{{ redirectUrl }}"/>
  <meta http-equiv="refresh" content="0;url={{ redirectUrl }}" />
  <link rel="stylesheet" href="/global.css" type="text/css">
</head>
<body>
  <h1>Sorry, this site has moved to a new URL</h1>
  The site has moved to
  <a href="{{ redirectUrl }}">{{ redirectUrl }}</a> click in case you are not redirected automatically.

  <script>
    window.location.href = '{{ redirectUrl }}'
  </script>
</body>
</html>
