{% extends "layouts/focus.njk" %}

{% block pagename %}404{% endblock %}
{% block canonicalUrl %}{% endblock %}
{% block pageTitlePrefix %}404{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/home.css" type="text/css">
{% endblock %}

{% block afterHeader %}
  <h1>404 - Page not found ...</h1>
  <p>
    Sorry, the page you were looking for was not found.
    Did you mean any of the latest 5 articles, see below?<br/>
    If not you might restart from <a href="/">the home page</a>.
  </p>
  <br/>
  <br/>
  <br/>
  
  <h2>Did you look for one of these articles?</h2>
{% endblock %}

{% block content %}
  <section style="overflow: hidden">
    {% for post in search.pages("url^=/blog/", "date=desc").slice(0, 20) %}
      <article class="preview {{ 'isDraft' if post.isDraft else '' }}" itemscope itemtype="http://schema.org/BlogPosting" data-tag="{{ post.post.tags[0].slug }}">
        <header>
          <span class="date">{{ post.post.dateCreated | toReadableDate }}</span>
          <span class="first-tag tag" data-tag="{{ post.post.tags[0].slug }}">#{{ post.tags[0] }}</span>
          <h2 id="{{post.slug}}" is="more-h2" show-link-on-mouseover style="white-space: nowrap;">
            <a href="{{post.url}}" itemprop="url">
              <span itemprop="name headline">{{ post.title | md | safe }}</span>
              {{ ' [this is still a draft]' if post.isDraft else ''}}
            </a>
          </h2>
        </header>
      </article>
    {% endfor %}
  </section>
    
{% endblock %}
