<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
<head>
  {% set _pageTitlePrefix %}{% block pageTitlePrefix %}{% endblock %}{% endset %}
  {% set _canonicalUrl %}{% block canonicalUrl %}{% endblock %}{% endset %}
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="mobile-web-app-capable" content="yes" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Wolfram Kriesing">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="picostitch - crafting (and) JavaScript">

  {% block metaTwitter %}{% endblock %}

  {% block metaOpenGraph %}{% endblock %}

  <script defer data-domain="picostitch.com" src="https://plausible.io/js/script.outbound-links.pageview-props.tagged-events.js"></script>
  <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
  <script async defer data-domain="picostitch.com" src="https://speedin.site/static/js/collect.js"></script>
  
  {% if _canonicalUrl %}<link rel="canonical" href="{{ _canonicalUrl }}">{% endif %}
  <title>{{ _pageTitlePrefix }} | picostitch - crafting (and) JavaScript</title>

  {% block moreHtmlElements %}{% endblock %}
  {% block head %}{% endblock %}
</head>
<body class="page-{% block pagename %}{% endblock %}">
  {% import "layouts/macros.njk" as parts %}

  {{ parts.header(navigationItems) }}

  {% block afterHeader %}{% endblock %}

  {% block body %}{% endblock %}

  {{ parts.pageFooter(navigationItems) }}
  {{ parts.secondaryNavigation(navigationItems) }}

  <script async defer src="/track-scroll.js"></script>
</body>
</html>
