{% extends "layouts/empty.njk" %}

{% set _pageTitlePrefix %}{% block pageTitlePrefix %}{% endblock %}{% endset %}
{% set _canonicalUrl %}{% block canonicalUrl %}{% endblock %}{% endset %}

{% block metaTwitter %}
  {% block metaTwitterCard %}<meta name="twitter:card" content="summary" />{% endblock %}
  <meta name="twitter:site" content="@wolframkriesing" />
  <meta name="twitter:title" content="{{ _pageTitlePrefix }}" />
{% endblock %}

{% block metaOpenGraph %}
  <meta property="og:title" content="{{ _pageTitlePrefix }}">
  <meta property="og:type" content="website">
  {% if _canonicalUrl %}<meta property="og:url" content="{{ _canonicalUrl }}">{% endif %}
  <meta property="og:site_name" content="picostitch - crafting (and) JavaScript">
{% endblock %}

{% block moreHtmlElements %}
  <script async defer type="module" src="https://more-html.github.io/components/src/Heading-loader.js"></script>
{% endblock %}
{% block head %}{% endblock %}

{% block body %}
  <main>
    {% block mainStart %}{% endblock %}
    <div class="content">
      {% block content %}{% endblock %}
    </div>
    {% block mainEnd %}{% endblock %}
  </main>
{% endblock %}
