{% extends "layouts/focus.njk" %}

{% block pagename %}home{% endblock %}
{% block canonicalUrl %}https://picostitch.com/{% endblock %}
{% block pageTitlePrefix %}Home{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/home.css" type="text/css">
{% endblock %}

{% block afterHeader %}
  <h1>picostitch - Crafting (and) JavaScript</h1>
{% endblock %}

{% block content %}
  <section style="overflow: hidden">
    {% for post in search.pages("url^=/blog/", "date=desc") %}

      {#
        Create a checkbox for each tag, just one.
        These checkboxes will be used to filter the posts when a tag is clicked, all just by CSS.
      #}
      {% set tagSlug = post.post.tags[0].slug %}
      {% if not seenTags %}
        {% set seenTags = [] %}
      {% endif %}
      {% if not seenTags.includes(tagSlug) and tagSlug %}
        {% set seenTags = seenTags.concat([tagSlug]) %}
        <input type="checkbox" id="show-{{ tagSlug }}" data-tag="{{ tagSlug }}" />
      {% endif %}

      <article class="preview {{ 'isDraft' if post.isDraft else '' }}" itemscope itemtype="http://schema.org/BlogPosting" data-tag="{{ post.post.tags[0].slug }}">
        <header>
          <span class="date">{{ post.post.dateCreated | toReadableDate }}</span>
          <label class="first-tag tag" data-tag="{{ post.post.tags[0].slug }}" for="show-{{ post.post.tags[0].slug }}">#{{ post.tags[0] }}</label>
          <h2 id="{{post.slug}}" is="more-h2" show-link-on-mouseover style="white-space: nowrap;">
            <a href="{{post.url}}" itemprop="url">
              <span itemprop="name headline">{{ post.title | md | safe }}</span>
              {{ ' [this is still a draft]' if post.isDraft else ''}}
            </a>
          </h2>
        </header>
      </article>
    {% endfor %}

  </section>

  <script>
    document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
      const expectedTag = checkbox.dataset.tag;
      checkbox.addEventListener('change', () => {
        if (checkbox.checked) {
          document.querySelectorAll('article').forEach(article => {
            if (article.getAttribute('data-tag') !== expectedTag) {
              article.classList.add('hidden');
            }
          });
        } else {
          document.querySelectorAll('article').forEach(article => article.classList.remove('hidden'));
        }
      });
    });
  </script>
{% endblock %}
