{% macro _itemsAsListOfLinks(items) %}
  <ul>
    {% for item in items %}
      <li><a href="{{ item.path }}">{{ item.name }}</a></li>
    {% endfor %}
    </li>
  </ul>
{% endmacro %}

{% macro header(navigationItems) %}
  <header>
    <nav class="primary">
      {{ _itemsAsListOfLinks(navigationItems) }}
    </nav>

    <div class="sitename">
      <a href="/">picostitch</a>
      <div class="subtitle">
        crafting (and) JavaScript
      </div>
    </div>
  </header>
{% endmacro %}

{% macro pageFooter(navigationItems) %}
  <footer>
    <div>
      <b>Pages</b>
      {{ _itemsAsListOfLinks(navigationItems) }}
    </div>

    <div>
      <b>Contact</b>
      <ul>
        <li><a rel="me" href="https://mastodontech.de/@wolframkriesing">Mastodon</a></li>
        <li style="text-decoration: line-through;">Twitter</li>
        <li><a href="https://codeberg.org/wolframkriesing" rel="me">Codeberg</a></li>
        <li><a href="https://github.com/wolframkriesing" rel="me">Github</a></li>
        <li><a href="mailto:w+through-picostitch-footer-contact@kriesing.de">Email</a></li>
      </ul>
    </div>

    <div>
      <b>Legal</b>
      <ul>
        <li><a href="/about#privacy-policy">Privacy Policy</a></li>
        <li><a href="/about#impressum-germany">Imprint</a></li>
      </ul>
    </div>
  </footer>
{% endmacro %}

{% macro secondaryNavigation(navigationItems) %}
  <nav class="secondary">
    <div class="menu-button">&#9776;</div>
    {{ _itemsAsListOfLinks(navigationItems) }}
  </nav>
{% endmacro %}


{% macro _backgroundGradient(percent) %}
  background: linear-gradient(to bottom, white 30%, rgba(255,255,255,0.5) 0), linear-gradient(to right, var(--color-overlay) {{ percent }}%, transparent 0)
{% endmacro %}

{% macro _tagsList(tags, showHeadlineLetter) %}
  {% set _lastTag = '' %}
  {% for tag in tags %}
    {% if showHeadlineLetter and (_lastTag[0] | upper) != (tag.tagSlug[0] | upper) %}
      <li>{{tag.tagSlug[0] | upper}}</li>
    {% endif %}
    {% set _lastTag = tag.tagSlug %}

    <li style="{{ _backgroundGradient(tag.gradientWidthInPercent) }}">
      <a href="/tag/{{ tag.tagSlug }}/">#{{tag.tagSlug}}</a>
    </li>
  {% endfor %}
{% endmacro %}

{% macro tagsNav(topTags, alphabeticallySortedTags) %}
  <nav class="tags">
    <header>Tags</header>
    <input type="checkbox" id="which-tags-toggle"/>
    <label for="which-tags-toggle">
      <span class="top10">Top 20</span>
      <span class="all">A-Z ↓</span>
    </label>
    <ol class="top-tags">
      {{ _tagsList(topTags) }}
    </ol>
    <ol class="tags-alphabetically-sorted">
      {{ _tagsList(alphabeticallySortedTags, true) }}
    </ol>
  </nav>
{% endmacro %}

{% macro monthsNav(groups) %}
  <nav class="months">
    <header>Posts by Month</header>
    <ol>
      {% for group in groups %}
      <li style="{{ _backgroundGradient(group.gradientWidthInPercent) }}">
          <a href="{{ group.url }}">{{ group.yearAndMonth | toReadableDate }}</a>
        </li>
      {% endfor %}
    </ol>
  </nav>
{% endmacro %}

{% macro tag(tag) %}
  <a href="/tag/{{ tag.slug }}/" class="tag">#{{tag.value}}</a>
{% endmacro %}

{% macro tags(_tags) %}
  {% for tag in _tags %}
    #{{tag.value}}
  {% endfor %}
{% endmacro %}

{% macro taggedWith(_tags) %}
  {% if (_tags.length > 0) %}
    - tagged with:
    {{ tags(_tags) }}
  {% endif %}
{% endmacro %}

