{% extends "layouts/focus.njk" %}

{% block pagename %}tag{% endblock %}
{% block canonicalUrl %}https://picostitch.com/tidbits/tag/{{tag}}/{% endblock %}
{% block pageTitlePrefix %}#{{tag}}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/blog/blog.css" type="text/css">
{% endblock %}

{% import "layouts/macros.njk" as parts %}
{% import "tidbit/macros.njk" as tidbitParts %}
{% import "layouts/blog/macros.njk" as blogParts %}

{% block mainStart %}
  <aside class="left">
    {{ parts.tagsNav(groupedArticles.byTag.slice(0, 20), groupedArticles.byTagSortedAlphabetically) }}
    {{ parts.monthsNav(groupedArticles.byMonth) }}
  </aside>
{% endblock %}

{% block content %}
  <h1 id="{{tag}}" is="more-h1" show-link-on-mouseover>
    Articles tagged with #{{tag}} ({{ articles | length }})
  </h1>

  {% for article in articles %}
    {% if article.type === 'blog' %}
      {{ blogParts.articlePreview(article) }}
    {% else %}
      {{ tidbitParts.tidbitPreview(article) }}
    {% endif %}
  {% endfor %}
{% endblock %}

