{% extends "layouts/empty.njk" %}

{% block pagename %}cv{% endblock %}
{% block canonicalUrl %}https://picostitch.com/about{% endblock %}
{% block pageTitlePrefix %}About{% endblock %}

{% block head %}
<link rel="stylesheet" href="/about/about.css" type="text/css">
{% endblock %}

{% block body %}
  <style>
    li {
      display: block;
    }
    .content {
      width: 60vw;
    }
    p {
      text-align: justify;
    }
    h3,
    article p {
      margin-bottom: 0;
    }
    p:last-child {
      margin-bottom: var(--spacing-big);
    }

    @media screen and (max-width: 900px) {
      aside.left {
        display: none;
      }
    }
  </style>

  <script type="application/javascript">
    function showAllPositions() {
      document.querySelectorAll('article').forEach(a => a.style.display = '');
    }
    function showMostRelevantPositions() {
      document.querySelectorAll('article[data-is-position-most-relevant="false"]').forEach(a => a.style.display = 'none');
    }
    function toggleDates(isVisible) {
      document.querySelectorAll('.dates').forEach(a => a.style.display = isVisible ? '' : 'none');
    }
    function toggleCompanyDescription(isVisible) {
      document.querySelectorAll('.companyDescription').forEach(a => a.style.display = isVisible ? '' : 'none');
    }
    function toggleJobDescription(isVisible) {
      document.querySelectorAll('.jobDescription').forEach(a => a.style.display = isVisible ? '' : 'none');
    }
    function toggleTechnologiesUsed(isVisible) {
      document.querySelectorAll('.technologiesUsed').forEach(a => a.style.display = isVisible ? '' : 'none');
    }
    function toggleNonTechSkills(isVisible) {
      document.querySelectorAll('.nonTechSkills').forEach(a => a.style.display = isVisible ? '' : 'none');
    }
  </script>

  <main>
    <aside class="left">
      <nav>
        <ul>
          <li>
            <a href="#jobs">Work History</a>
            <ul>
              <li>Positions
                <ul>
                  <li><label><input type="radio" name="type-positions" checked onclick="showAllPositions()" />
                    all ({{wolfram.jobs.length}})
                  </label></li>
                  <li><label><input type="radio" name="type-positions" onclick="showMostRelevantPositions()" />
                    most relevant ({{ wolfram.jobs|mostRelevantJobsCount }})
                  </label></li>
                </ul>
              </li>
              <li><label><input type="checkbox" checked onclick="toggleDates(this.checked)" />Dates</label></li>
              <li><label><input type="checkbox" checked onclick="toggleCompanyDescription(this.checked)" />Company description</label></li>
              <li><label><input type="checkbox" checked onclick="toggleJobDescription(this.checked)" />Job description</label></li>
              <li><label><input type="checkbox" checked onclick="toggleTechnologiesUsed(this.checked)" />Technologies used</label></li>
              <li><label><input type="checkbox" checked onclick="toggleNonTechSkills(this.checked)" />Non-Tech skills</label></li>
            </ul>
          </li>
          <li>
            <a href="#edu">Education</a>
          </li>
<!--
          <li>Conferences
            <ul>
              <li><label><input type="checkbox" />I attended</label></li>
              <li><label><input type="checkbox" />I spoke at</label></li>
            </ul>
          </li>
          <li>Meetups</li>
          <li>Publications</li>
-->
        </ul>
      </nav>
    </aside>
    <div class="content">
      <h1>Wolfram Kriesing</h1>
      <p>
        I am a software developer, entrepreneur, and community organizer with a deep passion for JavaScript, 
        web technologies, and software craftership.
      </p>
      <p>
        Originally from Berlin, I moved to Munich in 1997 for my first job at <a href="#job-gide">Giesecke & Devrient</a> 
        after <a href="#edu-fhtw">studying Computer Science</a>. 
        Programming has been my passion since I started in 1987, and by 1999, I knew the web was where I wanted to focus my career. 
        I’ve founded <a href="#job-vp">two</a> <a href="#job-uxebu">companies</a> 
        centered on web technologies and continue to organize events that foster knowledge-sharing, 
        particularly within the Software Crafters and JavaScript community
        (for example the 
        <a href="https://jscraftcamp.org">JSCraftCamp</a>, 
        <a href="https://lu.ma/jslang">JavaScript the Language Meetup</a> and 
        <a href="https://jskatas.org">jskatas.org</a>).
      </p>
      <p>  
        You can find more about my work and thoughts on <a href="https://picostitch.com">my blog</a>, 
        through my 
        <a href="https://mastodontech.de/@wolframkriesing" style="white-space: nowrap">
          <img src="https://joinmastodon.org/_next/static/media/favicon-16x16.2cc38863.png" alt="mastodon" width="16" height="16" style="vertical-align: text-bottom;"> Mastodon account
        </a>
        and 
        <a href="https://linkedin.com/in/wolframkriesing" style="white-space: nowrap">
          <img src="https://www.linkedin.com/favicon.ico" alt="LinkedIn" width="16" height="16" style="vertical-align: text-bottom;"> LinkedIn
        </a>.
      </p>
      
      <hr style="margin: 2em 0;"/>
      
      <h2 id="jobs">Work History</h2>
      {% for j in wolfram.jobs %}
        <article id="{{j.id}}" data-is-position-most-relevant="{{ 'true' if j.isMostRelevant else 'false' }}">
          <h3>{{j.positions[0]}}</h3>
          <div class="dates" style="color: var(--color-secondary); background: linear-gradient(to left, transparent {{ j.monthsAtJob|toTransparency }}%, var(--color-highlight-lighter) 0%)">
            {{j.start}} - {{j.end}}
          </div>
          <p class="companyDescription" style="color: var(--color-secondary)">
            {% if (j.url) %}
              <a href="https://{{j.url}}">{{j.name}}</a>:
            {% else %}
              {{j.name}}:
            {% endif %}
            {{j.companyDescription}}
          </p>
          <p class="jobDescription">
            {{j.jobDescription}}
          </p>
          <p>
            {% if j.technologiesUsed %}
              <span class="technologiesUsed">
                <b>Tools/technologies</b>: {{j.technologiesUsed}}
                <br/>
              </span>
            {% endif %}
            <span class="nonTechSkills">
              <b>Non-Tech skills</b>: {{j.nonTechSkills}}
            </span>
          </p>
        </article>
      {% endfor %}

      <hr style="margin: 2em 0;"/>
      
      <h2 id="edu">Education</h2>
      {% for e in wolfram.education %}
        <article id="{{e.id}}">
          <h3>{{e.name}}</h3>
          <div style="color: var(--color-secondary); background: linear-gradient(to left, transparent {{ e.monthsDuration|toTransparency }}%, var(--color-highlight-lighter) 0%)">
            {{e.start}} - {{e.end}}
          </div>
          <p>
            {{e.comment}}
          </p>
        </article>
      {% endfor %}

    </div>
  </main>
{% endblock %}
