{% extends "layouts/focus.njk" %}

{% block pagename %}about{% endblock %}
{% block canonicalUrl %}https://picostitch.com/about{% endblock %}
{% block pageTitlePrefix %}About{% endblock %}

{% block head %}
<link rel="stylesheet" href="/about/about.css" type="text/css">
{% endblock %}

{% block content %}
  {{ content | safe }}
{% endblock %}
