{% extends "layouts/focus.njk" %}

{% block pagename %}projects{% endblock %}
{% block canonicalUrl %}https://picostitch.com/projects{% endblock %}
{% block pageTitlePrefix %}Projects{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/projects/projects.css" type="text/css">
{% endblock %}

{% block content %}
  {{ content | safe }}
{% endblock %}
